html {
  font-family: Lora, serif;
}

.masthead {
  border-top: 3px solid #2d5a4d;
  border-bottom: 3px solid #2d5a4d;
  background-image: url("../images/leaf-bg.svg");
  background-size: 64px auto;
  background-repeat: repeat;
  background-color: #588477;
  background-position: .2em center;
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  border: 3px solid #2d5a4d;
  background-color: #467366;
  color: #fff;
  border-radius: 8px;
}

.nav a:hover {
  background-image: url("../images/leaf-icon.svg");
  background-repeat: no-repeat;
  background-color: #fff;
  background-position: center center;
  background-size: 64px auto;
  color: #145b1d;
}

.banner {
  background-image: linear-gradient(to bottom, rgba(16, 52, 41, 0) 40%, rgba(16, 52, 41, .8) ),
  url("../images/banner.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.banner-content {

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
