html {
  font-family: Lora, serif;
}

.masthead {
  background-image: url("");
}

.logo {
  text-align: center;
  color: #fff;
}

.nav {
  text-align: center;
}

.nav a {
  text-decoration: none;
  border: 2px solid #2d5a4d;
  background-color: #467366;
  color: #fff;
  border-radius: 8px;
}

.nav a:hover {

}

.banner {

}

.banner-content {

}

@media only screen and (min-width: 60em) {

  .logo {
    text-align: left;
  }

  .nav {
    text-align: right;
  }

}
